[submodule "v2rayN/GlobalHotKeys"]
	path = v2rayN/GlobalHotKeys
	url = https://github.com/2dust/GlobalHotKeys
[submodule "v2rayN/NetBridge"]
	path = v2rayN/NetBridge
	url = https://github.com/2dust/NetBridge
