<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.9.1" targetFramework="net46" />
  <package id="Grpc" version="2.23.0" targetFramework="net46" />
  <package id="Grpc.Core" version="2.23.0" targetFramework="net46" />
  <package id="Grpc.Core.Api" version="2.23.0" targetFramework="net46" />
  <package id="Grpc.Tools" version="2.23.0" targetFramework="net46" developmentDependency="true" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net46" />
  <package id="System.Memory" version="4.5.3" targetFramework="net46" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net46" />
</packages>