name: Release

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    strategy:
      matrix:
        configuration: [Release]

    runs-on: windows-latest 

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Uncomment the following step if you want to delete old workflow runs
      # - name: Delete Workflow Runs
      #   uses: Mattraks/delete-workflow-runs@v2
      #   with:
      #     token: ${{ github.token }}
      #     repository: ${{ github.repository }}
      #     retain_days: 0
      #     keep_minimum_runs: 1

      - name: Build v2rayN
        run: |
          cd v2rayN && .\build.ps1

      # Package the outputs into a zip file
      - name: Package Artifacts
        run: |
          7z a v2rayN.zip ./bin/win-x64/* ./bin/linux-x64/*

      # Upload the zip file as an artifact
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: v2rayN
          path: v2rayN.zip

      # Uncomment to create a release on GitHub after building
      # - name: Create Release
      #   uses: softprops/action-gh-release@v1
      #   env:
      #       GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      #   with:
      #     prerelease: ${{ contains(github.ref, '-') }}
      #     draft: false
      #     files: |
      #         v2rayN.zip
      #     body: |
      #         [![](https://img.shields.io/badge/Telegram-Channel-blue)](https://t.me/netch_channel) [![](https://img.shields.io/badge/Telegram-Group-green)](https://t.me/netch_group)
      #         ## Changelogs
      #         * This is an automated deployment of GitHub Actions; the change log should be updated manually soon.
            
      #         ## 更新日志
      #         * 这是 GitHub Actions 自动化部署，更新日志应该很快会手动更新。
